*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('photo-1602940659805-770d1b3b9911.avif');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;

}
h2{
    color: lavender;
    font-family: sans-serif;
    margin-bottom: 30px;
    letter-spacing: 3px;
}
.clock{
    display: flex;
}
.clock div{
    margin: 10px;
    position:relative;
    transition: all 0.4s ease-in;
}
.clock div:hover{
    transform: scale3d(1.2, 1.2, 1);
}

.clock span {
    width: 130px;
    height: 100px;
    background:purple;
    opacity: 0.8;
    color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .clock .text {
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    background:lavenderblush;
    opacity: 0.9;
  }
  
  .clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    color: black;
    height: 30px;
    font-size: 20px;
    background: whitesmoke
  }